.markdown {
  font-size: 1.125rem;
  line-height: 1.75;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown h2 {
  font-size: 1.875rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.markdown h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.375;
}

.markdown a {
  color: rgb(59 130 246);
  text-decoration: underline;
}

.markdown a:hover {
  color: rgb(29 78 216);
}

:root.dark .markdown a {
  color: rgb(96 165 250);
}

:root.dark .markdown a:hover {
  color: rgb(147 197 253);
}

.markdown code {
  background-color: rgb(243 244 246);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

:root.dark .markdown code {
  background-color: rgb(31 41 55);
}

.markdown pre {
  background-color: rgb(243 244 246);
  border-radius: 0.25rem;
  padding: 1rem;
  overflow-x: auto;
}

:root.dark .markdown pre {
  background-color: rgb(31 41 55);
}

.markdown img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.markdown strong {
  font-weight: 700;
}

.markdown em {
  font-style: italic;
}
